@import fonts

#instaVue
  *
  box-sizing: border-box
  h3
    font-size: 32px
    margin: 0
  img
    vertical-align: middle
    max-width: 100%
  a
    display: block
  button
    padding: 0
    border: none
    background-color: transparent
    cursor: pointer
    outline: none


#instaVue
  background-color: #fff
  box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.15)
  font-family: Roboto-Regular, sans-serif!important
  line-height: 1.4!important
  font-size: 16px!important
  color: #000!important
  position: absolute
  .container
    padding: 35px 20px 0
    position: relative
    &::before
      content: ''
      position: absolute
      top: 0
      left: 0
      width: 100%
      height: 20px
      background-color: #F9F9F9
    .actions
      display: flex
      .action-btn  
        background-position: center
        background-repeat: no-repeat
    .head-content
      > div
        margin-bottom: 17px
      .first-field, .second-field
        display: flex
        justify-content: space-between
        align-items: center
        position: relative
      .first-field
        .title
          font-family: RobotoMono-Bold, sans-serif
          line-height: 22px
        .btn-close
          position: absolute
          top: -4px
          right: -50px
          width: 30px
          height: 30px
          background-color: #fff
          box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.05)
          background-image: url(../img/cross.svg)
          background-repeat: no-repeat
          background-position: center
        .actions
          border: 1px solid #DBDBDB
          border-radius: 3px
          padding-left: 24px
          .action-btn
            width: 25px
            height: 20px
            border-left: 1px solid #DBDBDB
          .action-btn:first-child
            background-image: url(../img/arr-up.svg)
          .action-btn:last-child
            background-image: url(../img/arr-down.svg)
      .second-field
        .link
          font-family: RobotoMono-Medium, sans-serif
          font-size: 14px
          line-height: 16px
          color: #1F7BE8
        .actions
          .action-btn
            width: 17px
            height: 10px
          .action-btn:first-child
            background-image: url(../img/arr-left.svg)
          .action-btn:last-child
            background-image: url(../img/arr-right.svg)
            margin-left: 8px
      .image-box
        margin-bottom: 12px
    .body-content
      >div, nav
        margin-bottom: 20px
      .navigation
        .elements-list
          display: flex
          padding: 0 0 12px
          border-bottom: 1px solid #EEEEEE
          list-style-type: none
          .list-link
            font-size: 14px
            line-height: 22px
            font-family: RobotoMono-Bold, sans-serif
            color: #1F7BE8
            padding-right: 30px
            position: relative
            &::after
              content: ''
              position: absolute
              top: 50%
              right: 12px
              width: 9px
              height: 6px
              background-position: center
              background-size: contain
              background-image: url(../img/arr-up.svg)
              background-repeat: no-repeat
              transform: translateY(-50%) rotate(90deg)
      .current-element
        display: flex
        align-items: center
        h3
          font-family: RobotoMono-Bold, sans-serif
          line-height: 32px
        .actions
          margin-left: 11px
          .action-btn
            border-radius: 50em
            width: 26px
            height: 26px
            border: 1px solid #DBDBDB
          .action-btn:first-child
            background-image: url(../img/heart.svg)
          .action-btn:last-child
            margin-left: 5px
            background-image: url(../img/eye.svg)
      .search
        display: flex
        border-radius: 3px
        border: 1px solid #DBDBDB
        input
          width: 100%
          border: none
          outline: none
          line-height: 36px
          font-family: RobotoMono-Medium, sans-serif
          padding-left: 40px
          padding-right: 15px
          font-size: 14px
          background-image: url(../img/search.svg)
          background-repeat: no-repeat
          background-position: 12px center
        .action-btn
          width: 36px
          height: 38px
          background-image: url(../img/question.svg)
          background-repeat: no-repeat
          background-size: auto
          background-position: center
          border-left: 1px solid #DBDBDB
          flex: 0 0 36px
          max-width: 36px
    .element-tree
      margin: 0 -20px!important
      padding: 20px 20px 0
      position: relative
      overflow-y: auto
      &::before
        content: ''
        position: absolute
        top: -10px
        left: 0
        width: 100%
        height: 10px
        background-color: transparent
        box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.15)
      >.tree-node
        margin-bottom: 15px
      .tree-node
        padding-left: 13px
        position: relative
        overflow: hidden
        &.open
          &::after
            display: block
          >.tree-list
            display: block
          >.node-key
            margin-bottom: 12px
            &::before
              transform: translateY(-50%) rotate(90deg)
        &::after
          content: ''
          position: absolute
          bottom: -17px
          left: 2px
          border-left: 1px dashed #DBDBDB
          height: 100%
          display: none
        .node-key 
          display: flex
          align-items: center
          font-family: RobotoMono-Medium, sans-serif
          line-height: 16px
          position: relative
          transform-origin: 50% 50%
          cursor: pointer
          &::before
            content: ''
            position: absolute
            top: 50%
            left: -13px
            width: 6px
            height: 7px
            background-image: url(../img/arr-drop.svg)
            background-repeat: no-repeat
            background-position: center
            transform: translateY(-50%)
        .type
          width: 18px
          height: 18px
          line-height: 18px
          border-radius: 3px
          border: 1px solid #DBDBDB
          font-family: Roboto-Medium, sans-serif
          font-size: 12px
          display: block
          text-align: center
          color: #2F3032
          margin-right: 9px
        .tree-list
          display: none
          .tree-item
            padding-left: 0
            font-size: 14px
            line-height: 22px
            display: flex
            .item-key
              font-family: Roboto-Medium, sans-serif
            .item-value
              color: #008000
              margin-left: 8px
            &::before
              display: none
            &::after
              display: none
          .tree-node
            &::after
              bottom: -19px
            .node-key
              font-family: Roboto-Medium, sans-serif
              margin-bottom: 0
              line-height: 22px
              font-size: 14px


